.step-dark-red:before,
.step-dark-red:after {
  background-color: #a0161b !important;
  color: #fff !important;
}

.steps .step:after {
  border: 1px solid #a0161b !important;
}

.step-success::after {
  content: "✓" !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #d35055;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #011013;
  font-size: 18px !important;
}

.w-30 {
  width: 30% !important;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #FFD2D2;
}

@media only screen and (max-width: 767px) {
	.w-900 {
    width: 900px !important;
  }
}

.box-div{
  background-color: #F7F7F7;
}
.box-div:nth-child(odd){
  background-color: white;
}

.input-goal{
  border-right: none !important;
  text-transform: capitalize;
}

.input-goal::input[type=text] {
  text-transform: capitalize !important;
  color: red !important;
}

@media only screen and (max-width: 767px) {
	.w-25 {
    width: 25.5rem;
  }

  .w-900 {
    width: 900px;
  }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
  .box-div {
    width: 600px;
  }

  .w-900 {
    width: 1100px;
  }

  .w-25 {
    max-width: 100%;
    width: 46rem;
  }
}

