.step-dark-red:before,
.step-dark-red:after {
  background-color: #a0161b !important;
  color: #fff !important;
}

.steps .step:after {
  border: 1px solid #a0161b !important;
}

.step-success::after {
  content: "✓" !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #d35055;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #011013;
  font-size: 18px !important;
}
