.step-dark-red:before,
.step-dark-red:after {
  background-color: #a0161b !important;
  color: #fff !important;
}

/* .steps .step:after {
  border: 1px solid #a0161b !important;
} */

.step-success::after {
  content: "✓" !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #d35055;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #011013;
  font-size: 18px !important;
}

.w-30 {
  width: 30% !important;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #f9e8e8;
}

@media only screen and (max-width: 767px) {
  .w-900 {
    width: 900px !important;
  }
}

.box-div {
  background-color: #f7f7f7;
}
.box-div:nth-child(odd) {
  background-color: white;
}

.input-goal {
  border-right: none !important;
  text-transform: capitalize;
}

.input-goal::input[type="text"] {
  text-transform: capitalize !important;
  color: red !important;
}

@media only screen and (max-width: 767px) {
  .w-25 {
    width: 23rem;
  }

  .w-900 {
    width: 900px;
  }

  .currency {
    font-size: 12px;
  }

  .w77 {
    width: 100% !important;
  }

  .w27 {
    width: 100% !important;
  }
}

.w27 {
  width: 28% !important;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .w-900 {
    width: 1100px;
  }

  .w-25 {
    max-width: 100%;
    width: 46rem;
  }
}

.contact-field::-webkit-outer-spin-button,
.contact-field::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.border-b {
  border-bottom: 1px solid #a0161b;
}
.border-b-g {
  border-bottom: 1px solid #8a8a8e;
}

.borderbottom:last-child {
  border-bottom: 1px solid #8a8a8e;
}

.bordertop {
  border-top: 1px solid #8a8a8e;
}

/* filter */
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  /* width: 280px; */
  display: flex;
  flex-direction: column;
}

.dropdown:focus {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid gray;
  margin-top: 3rem;
  padding: 10px;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  padding-top: 5px;
  padding-left: 14px;
  background-color: #fff;
  width: 100%;
}

.search-inner {
  display: flex;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  background-color: white !important;
}

input:focus {
  background-color: white !important;
}

.input:focus {
  background-color: white !important;
}

.input {
  background-color: white !important;
}

select {
  background-color: white !important;
}

.required {
  margin-top: 42px;
  left: 15px;
}
.select-goal {
  z-index: 99999;
  /* background-color: red !important; */
}

.w77 {
  width: 71%;
  /* background-color: red !important; */
}

.agediv {
  -webkit-appearance: none !important;
}

.test {
  background-color: red !important;
  z-index: 99999 !important;
}

.delbutton {
  z-index: 999999 !important;
  left: 95% !important;
}

.step-dark-red:after {
  content: "•" !important;
  font-weight: bold !important;
}

/* .steps .step:after {
  border: 1px solid white !important;
} */

.step-dark-red:nth-last-child(2) {
  content: "" !important;
}

.modal-open,
.modal:target,
.modal-toggle:checked + .modal {
  z-index: 999999 !important;
}
